<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.ivytech.noactivitystarter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <application
        android:name=".AdminApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoActivityStarter">
        <activity
            android:name=".AnnouncementActivity"
            android:exported="false" />
        <activity
            android:name=".AdminListActivity"
            android:exported="false" />
        <activity
            android:name=".FirebaseAuthUIActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EventListActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".InfoActivity"
            android:exported="false" />
        <activity
            android:name=".PreferencesActivity"
            android:exported="false"
            android:label="@string/title_activity_preferences"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BioActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="edu.ivytech.noactivitystarter.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>
    </application>

</manifest>